#header {
  margin: 0px;
  padding: 50px 0px;
  text-align: center;
}

.list__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.list__header {
  margin: 10px;
  text-align: center;
}
