{% extends 'layout.html' %}
{% block title %}Applause{% end %}
{% block styles %}
    <style>
        .topics__header {
            margin: 10px;
            text-align: center;
        }
    </style>
{% end %}
{% block content %}
    <div>
        <div class="list__header">
            <h2 class="ui header">
                Topics
                {% if last_updated %}
                    <div class="sub header">Last updated: {{ last_updated }}</div>
                {% end %}
            </h2>
        </div>
        <div class="ui ordered list">
            {% for topic in topics %}
                <a class="item" href="topic/{{ topic }}">
                    {{ topic.title().replace('-', ' ') }}
                </a>
            {% end %}
        </div>
    </div>
{% end %}
