[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "*"
"beautifulsoup4" = "*"
requests = "*"
Flask = "*"
Flask-RESTful = "*"


[dev-packages]



[requires]

python_version = "3.6"
